
/*defult*/

@import url('https://fonts.googleapis.com/css?family=Tangerine');

html {
  margin:0;
  padding:0;
  background: #fff url(../images/bg.jpg) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  text-align: center;
}

a, a:hover {
   text-decoration: none;
   outline: 0;
   color: #3399cc;
   -webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
   -o-transition: color .3s ease-in-out;
   transition: color .3s ease-in-out;
}

a:visited {
  color: #000;
}

h2 {
  padding-top: 1rem;
  font-family: 'Noto Sans', sans-serif;
}

h2 span {
  font-family: 'Tangerine', cursive;
}

main {
  margin: 3rem auto 2rem;
}

main h2 {
  padding-top: 10px;
  color: #fff;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
  margin: 0.5rem auto 1rem;
}

.mainnews {
    background-color: rgba(51,153,204, .4);
    color: #fff;
    letter-spacing: 3px;
    text-shadow: 0 0 0.2em #3399cc, 0 0 0.2em #3399cc, 0 0 0.2em #3399cc;
    text-align: center;
    max-height: 21rem;
    overflow-y: scroll;
}

.mainnews span {
  color: #000;
}

span {
  font-weight: bold;
}

td {
  text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    z-index: 99;
    border: none;
    background-color: #3399cc;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 100px;
    font-size: 0.8rem;
}

#myBtn:hover {
    background-color: #555;
}

footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  height: 30px;
  padding-top: 5px;
  color: #3399cc;
  text-align: center;
  font-size: 14px;
  bottom: 0;
}


/*for portfolio.html*/

.tab-content {
  background-color: rgba(255,255,255, .6);
  padding-bottom: 1.5rem;
}

.modal-body {
  padding: 0;
  overflow: auto;
}

.modal-body img {
  overflow: scroll;
}

.card-img-bottom {
  width: 100%;
}
